/*===============================
=            Imports            =
===============================*/
/*=================================
=            Variables            =
=================================*/
/*=====  End of Variables  ======*/
/*==============================
=            Mixins            =
==============================*/
/*=====  End of Mixins  ======*/
* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

input,
button,
fieldset {
  border: none;
  outline: none;
  cursor: pointer; }

.base {
  background: #252525;
  width: 100%;
  min-width: 1000px; }

header,
footer {
  background: #171717; }

header,
main,
footer {
  padding: 20px 40px; }

header .title {
  left: 0; }
  header .title h2 {
    font-size: 3.125em; }
  header .title form {
    background: #333;
    padding: 6px 10px;
    margin-top: -46px;
    float: right; }
    header .title form fieldset {
      float: left; }
      header .title form fieldset label {
        font-size: 14px;
        color: #fff;
        text-align: right;
        line-height: 24px;
        margin-right: 6px;
        float: left; }
      header .title form fieldset .field {
        float: left; }
        header .title form fieldset .field input {
          font-size: 14px;
          color: #fff;
          width: 110px;
          height: 24px;
          position: relative; }
          header .title form fieldset .field input::-webkit-datetime-edit {
            text-align: center;
            line-height: 24px;
            background: #111;
            height: 24px;
            margin-right: 6px;
            opacity: .7;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
          header .title form fieldset .field input::-webkit-inner-spin-button {
            display: none; }
          header .title form fieldset .field input::-webkit-calendar-picker-indicator {
            opacity: 0;
            width: 86px;
            height: 200%;
            position: absolute;
            top: -100%;
            left: 0; }
          header .title form fieldset .field input::-webkit-clear-button {
            display: none; }
          header .title form fieldset .field input:hover::-webkit-datetime-edit {
            opacity: 1; }
    header .title form input[type=button] {
      background: url(./../imgs/filter.png);
      width: 20px;
      height: 20px;
      margin-top: 2px;
      float: right;
      opacity: .7;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      header .title form input[type=button]:hover {
        opacity: 1; }
      header .title form input[type=button]:active {
        margin: 3px 0 -1px; }
      header .title form input[type=button][disabled] {
        opacity: .1;
        cursor: default; }

main {
  padding-bottom: 40px; }
  main ul {
    width: 100%;
    display: table; }
    main ul li {
      padding-bottom: 10px; }
      main ul li:last-child {
        padding-bottom: 0; }
    main ul button {
      font-size: 20px !important;
      font-weight: bold !important;
      text-align: left;
      background: #000;
      width: 100%;
      height: 50px;
      padding-left: 56px;
      border-radius: 4px;
      position: relative;
      opacity: .8;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      main ul button:before {
        content: '';
        background: url(./../imgs/icon.png);
        width: 30px;
        height: 30px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        left: 20px; }
      main ul button:hover {
        opacity: 1; }
    main ul .content {
      background: #333333;
      border-radius: 0 0 4px 4px;
      margin: 0 2px;
      display: block;
      height: 0;
      overflow: hidden;
      padding: 0;
      -webkit-transition: height 0.2s,  padding 0.2s;
      /* Safari */
      transition: height 0.2s, padding 0.2s; }
      main ul .content ul {
        width: auto;
        height: 40px;
        margin: 0 10px;
        box-sizing: border-box;
        display: block; }
        main ul .content ul.categorys li,
        main ul .content ul.categorys .action {
          font-weight: bold !important; }
        main ul .content ul.categorys .downgrade {
          font-size: 12px !important; }
          main ul .content ul.categorys .downgrade:before, main ul .content ul.categorys .downgrade:after {
            content: '';
            position: absolute; }
          main ul .content ul.categorys .downgrade:before {
            background: #fff25d;
            width: 6px;
            height: 8px;
            top: 16px;
            left: -5px; }
          main ul .content ul.categorys .downgrade:after {
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 6px solid  #fff25d;
            top: 13px;
            left: 1px; }
        main ul .content ul.uneven {
          background: #444444; }
        main ul .content ul.deprecated li {
          opacity: .2; }
        main ul .content ul li {
          text-align: center;
          line-height: 40px;
          width: 20%;
          padding-bottom: 0;
          float: left; }
          main ul .content ul li .action {
            line-height: 40px;
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
            position: relative;
            float: left; }
        main ul .content ul li {
          position: relative; }
          main ul .content ul li.group {
            width: 30%;
            height: 100%;
            border-left: 1px solid #666;
            margin-left: -1px;
            position: relative; }
            main ul .content ul li.group p {
              font-size: .75em;
              line-height: 40px;
              margin: 0 20px;
              float: left; }
              main ul .content ul li.group p + p {
                float: right; }
          main ul .content ul li .percent {
            font-size: 1.5em;
            text-align: center;
            line-height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
            main ul .content ul li .percent:before, main ul .content ul li .percent:after {
              content: '';
              background: rgba(255, 255, 255, 0.2);
              width: 15%;
              height: 1px;
              position: absolute;
              top: 50%;
              left: 20%; }
            main ul .content ul li .percent:after {
              right: 20%;
              left: auto; }
          main ul .content ul li.success {
            background: rgba(54, 217, 0, 0.4); }
          main ul .content ul li.error {
            background: rgba(255, 0, 0, 0.4); }
    main ul .state {
      width: 50%;
      float: left; }

footer {
  width: 100%;
  box-sizing: border-box;
  display: table; }
  footer .copyright {
    font-size: 0.75em;
    line-height: 34px;
    float: left; }
  footer .logo {
    float: right; }

.absolute.base {
  position: absolute;
  top: 0;
  bottom: 0; }

.absolute main,
.absolute footer {
  position: absolute;
  top: 125px;
  right: 0;
  bottom: 0;
  left: 0; }

.absolute main {
  bottom: 74px; }

.absolute footer {
  top: auto; }

/*=====  End of Imports  ======*/
