.base {
	background: $light-grey;
	width: 100%;
	min-width: 1000px;
}

header,
footer { background: $dark-grey; }

header,
main,
footer { padding: 20px 40px; }

header .title {
	left: 0;

	h2 { font-size: 3.125em; }

	form {
		background: #333;
		padding: 6px 10px;
		margin-top: -46px;
		float: right;

		fieldset {
			float: left;

			label {
				font-size: 14px;
				color: #fff;
				text-align: right;
				line-height: 24px;
				margin-right: 6px;
				float: left;
			}

			.field {
				float: left;

				input {
					font-size: 14px;
					color: #fff;
					width: 110px;
					height: 24px;
					position: relative;

					&::-webkit-datetime-edit {
						text-align: center;
						line-height: 24px;
						background: #111;
						height: 24px;
						margin-right: 6px;
						opacity: .7;
						@include transition();
					}

					&::-webkit-inner-spin-button { display: none; }

					&::-webkit-calendar-picker-indicator {
						opacity: 0;
						width: 86px;
						height: 200%;
						position: absolute;
						top: -100%;
						left: 0;
					}

					&::-webkit-clear-button { display: none; }

					&:hover::-webkit-datetime-edit { opacity: 1; }
				}
			}
		}

		input[type=button] {
			background: url(#{$assets-path}imgs/filter.png);
			width: 20px;
			height: 20px;
			margin-top: 2px;
			float: right;
			opacity: .7;
			@include transition();

			&:hover  { opacity: 1; }
			&:active { margin: 3px 0 -1px; }
			&[disabled] {
				opacity: .1;
				cursor: default;
			}
		}
	}
}

main {
	padding-bottom: 40px;

	ul {
		width: 100%;
		display: table;

		li {
			padding-bottom: 10px;

			&:last-child { padding-bottom: 0; }
		}

		button {
			font-size: 20px!important;
			font-weight: bold!important;
			text-align: left;
			background: #000;
			width: 100%;
			height: 50px;
			padding-left: 56px;
			border-radius: 4px;
			position: relative;
			opacity: .8;
			@include transition(.2s);

			&:before {
				content: '';
				background: url(#{$assets-path}imgs/icon.png);
				width: 30px;
				height: 30px;
				margin-top: -15px;
				position: absolute;
				top: 50%;
				left: 20px;
			}

			&:hover { opacity: 1; }
		}

		.content {
			background: #333333;
			border-radius: 0 0 4px 4px;
			margin: 0 2px;
			display: block;
			height: 0;
			overflow: hidden;
			padding: 0;
			-webkit-transition: height 0.2s,  padding 0.2s; /* Safari */
    		transition: height 0.2s, padding 0.2s;

			ul {
				width: auto;
				height: 40px;
				margin: 0 10px;
				box-sizing: border-box;
				display: block;

				&.categorys {

					li,
					.action { font-weight: bold!important; }

					.downgrade {
						font-size: 12px!important;

						&:before,
						&:after {
							content: '';
							position: absolute;
						}

						&:before {
							background: #fff25d;
							width: 6px;
							height: 8px;
							top: 16px;
							left: -5px;
						}

						&:after {
							border-top: 7px solid transparent;
							border-bottom: 7px solid transparent;
							border-left: 6px solid  #fff25d;
							top: 13px;
    						left: 1px;
    					}
    				}
    			}

				&.uneven { background: #444444; }

				&.deprecated li { opacity: .2; }

				li {
					text-align: center;
					line-height: 40px;
					width: 20%;
					padding-bottom: 0;
					float: left;

					.action {
						line-height: 40px;
						width: 50%;
						padding: 0 15px;
						box-sizing: border-box;
						position: relative;
						float: left;
					}
				}

				li {
					&.group {
						width: 30%;
						height: 100%;
						border-left: 1px solid #666;
						margin-left: -1px;
						position: relative;

						p {
							font-size: .75em;
							line-height: 40px;
							margin: 0 20px;
							float: left;

							+ p { float: right }
						}
					}
					.percent {
						font-size: 1.5em;
						line-height: 40px;

						&:before,
						&:after {
							content: '';
							background: rgba(255, 255, 255, .2);
							width: 15%;
							height: 1px;
							position: absolute;
							top: 50%;
							left: 20%;
						}
						&:after {
							right: 20%;
							left: auto;
						}
					}

					&.success { background: rgba( 54, 217, 0, .4); }

					&.error   { background: rgba(255,   0, 0, .4); }
				}
			}
		}

		.state {
			width: 50%;
			float: left;
		}
	}
}

footer {
	width: 100%;
	box-sizing: border-box;
	display: table;

	.copyright {
		font-size: 0.75em;
		line-height: 34px;
		float: left;
	}

	.logo { float: right; }
}

.absolute {
	&.base {
		position: absolute;
		top: 0;
		bottom: 0;
	}
	main,
	footer {
		position: absolute;
		top: 125px;
		right: 0;
		bottom: 0;
		left: 0;
	}
	main { bottom: 74px; }
	footer { top: auto; }
}
