* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

/*==============================
=            Import            =
==============================*/
/*=================================
=            Variables            =
=================================*/
/*=====  End of Variables  ======*/
/*==============================
=            Mixins            =
==============================*/
/*=====  End of Mixins  ======*/
/*=====  End of Import  ======*/
.base {
  background: #252525;
  width: 100%;
  min-width: 320px; }

header,
footer {
  background: #171717; }

header,
main,
footer {
  padding: 20px 40px; }

header .title {
  left: 0; }
  header .title h2 {
    font-size: 3.125em; }

main {
  padding-bottom: 40px; }
  main ul {
    width: 100%;
    display: table; }
    main ul li {
      padding-bottom: 10px; }
      main ul li:last-child {
        padding-bottom: 0; }
    main ul button {
      font-size: 20px !important;
      font-weight: bold !important;
      text-align: left;
      background: #000;
      width: 100%;
      height: 50px;
      padding-left: 56px;
      border-radius: 4px;
      position: relative;
      opacity: .8;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      main ul button:before {
        content: '';
        background: url(./../imgs/icon.png);
        width: 30px;
        height: 30px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        left: 20px; }
      main ul button:hover {
        opacity: 1; }
    main ul .content {
      background: #333333;
      border-radius: 0 0 4px 4px;
      padding: 10px 0 20px;
      margin: 0 2px;
      display: none; }
      main ul .content ul {
        width: auto;
        height: 40px;
        margin: 0 10px;
        box-sizing: border-box;
        display: block; }
        main ul .content ul.categorys li,
        main ul .content ul.categorys .action {
          font-weight: bold !important; }
        main ul .content ul.categorys .downgrade {
          font-size: 12px !important; }
          main ul .content ul.categorys .downgrade:before, main ul .content ul.categorys .downgrade:after {
            content: '';
            position: absolute; }
          main ul .content ul.categorys .downgrade:before {
            background: #fff25d;
            width: 6px;
            height: 8px;
            top: 16px;
            left: -5px; }
          main ul .content ul.categorys .downgrade:after {
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 6px solid  #fff25d;
            top: 13px;
            left: 1px; }
        main ul .content ul.uneven {
          background: #444444; }
        main ul .content ul.deprecated li {
          opacity: .2; }
        main ul .content ul li {
          text-align: center;
          line-height: 40px;
          width: 16.6%;
          padding-bottom: 0;
          float: left; }
          main ul .content ul li .action {
            line-height: 40px;
            width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
            position: relative;
            float: left; }
    main ul .state {
      width: 50%;
      float: left; }

footer {
  width: 100%;
  box-sizing: border-box;
  display: table; }
  footer .copyright {
    font-size: 0.75em;
    line-height: 34px;
    float: left; }
  footer .logo {
    float: right; }

.absolute.base {
  position: absolute;
  top: 0;
  bottom: 0; }

.absolute main,
.absolute footer {
  position: absolute;
  top: 125px;
  right: 0;
  bottom: 0;
  left: 0; }

.absolute main {
  bottom: 74px; }

.absolute footer {
  top: auto; }

/*=================================
=            Variables            =
=================================*/
/*=====  End of Variables  ======*/
/*=============================
=            Fonts            =
=============================*/
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot');
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff2') format('woff2'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff') format('woff'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.ttf') format('truetype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'ExoRegular';
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot');
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot') format('embedded-opentype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff2') format('woff2'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff') format('woff'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.ttf') format('truetype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.svg#ExoRegular') format('svg');
}
/*=====  End of Fonts  ======*/
/*==============================
=            Mixins            =
==============================*/
/*=====  End of Mixins  ======*/

/*=============================
=            Reset            =
=============================*/
/* line 4, dev/less/libs/reset.less */
* {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
/* line 9, dev/less/libs/reset.less */
li {
  list-style: none;
}
/* line 10, dev/less/libs/reset.less */
a {
  text-decoration: none;
}
/* line 11, dev/less/libs/reset.less */
button,
input,
textarea:focus {
  background: transparent;
  border: none;
}
/* line 17, dev/less/libs/reset.less */
button {
  outline: none;
  cursor: pointer;
}
/* line 21, dev/less/libs/reset.less */
input:focus,
textarea:focus {
  outline: none;
}
/*=====  End of Reset  ======*/

/*===============================
=            Imports            =
===============================*/
/*=================================
=            Variables            =
=================================*/
/*=====  End of Variables  ======*/
/*=============================
=            Fonts            =
=============================*/
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot');
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff2') format('woff2'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff') format('woff'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.ttf') format('truetype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'ExoRegular';
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot');
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot') format('embedded-opentype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff2') format('woff2'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff') format('woff'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.ttf') format('truetype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.svg#ExoRegular') format('svg');
}
/*=====  End of Fonts  ======*/
/*==============================
=            Mixins            =
==============================*/
/*=====  End of Mixins  ======*/
/*=====  End of Imports  ======*/
/*============================
=            Flex            =
============================*/
/* line 11, dev/less/app/layout.less */
.flex-left {
  display: flex;
  align-items: stretch;
}
/* line 15, dev/less/app/layout.less */
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
/* line 20, dev/less/app/layout.less */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
/* line 25, dev/less/app/layout.less */
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
/* line 30, dev/less/app/layout.less */
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
/* line 35, dev/less/app/layout.less */
.flex-auto {
  display: flex;
}
/* line 38, dev/less/app/layout.less */
.flex-auto > * {
  flex: 1 1 auto;
}
/*=====  End of Flex  ======*/
/*============================
=            Grid            =
============================*/
/*=====  End of Grid  ======*/

/*===============================
=            Imports            =
===============================*/
/*=================================
=            Variables            =
=================================*/
/*=====  End of Variables  ======*/
/*=============================
=            Fonts            =
=============================*/
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot');
  src: local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff2') format('woff2'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.woff') format('woff'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.ttf') format('truetype'), local('RobotoLight'), url('wizard/fonts/RobotoLight/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'ExoRegular';
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot');
  src: local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.eot') format('embedded-opentype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff2') format('woff2'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.woff') format('woff'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.ttf') format('truetype'), local('ExoRegular'), url('wizard/fonts/ExoRegular/ExoRegular.svg#ExoRegular') format('svg');
}
/*=====  End of Fonts  ======*/
/*==============================
=            Mixins            =
==============================*/
/*=====  End of Mixins  ======*/
/*=====  End of Imports  ======*/
/*==================================
=            Typography            =
==================================*/
/* line 11, dev/less/app/typography.less */
.fnt-roboto,
.childrens-fnt-roboto * {
  font: 1em 'RobotoLight';
}
/* line 13, dev/less/app/typography.less */
.fnt-exo,
.childrens-fnt-exo * {
  font: 1em 'ExoRegular';
  color: #ffffff;
  text-transform: uppercase;
}
/*=====  End of Typography  ======*/
/*==============================
=            Colors            =
==============================*/
/* line 25, dev/less/app/typography.less */
.clr-light {
  color: #ffffff;
}
/* line 26, dev/less/app/typography.less */
.clr-standard {
  color: #999999;
}
/* line 28, dev/less/app/typography.less */
.clr-action {
  color: #00c1ff;
}
/* line 29, dev/less/app/typography.less */
.clr-success {
  color: #17fe58;
}
/* line 30, dev/less/app/typography.less */
.clr-warning {
  color: #fff25d;
}
/* line 31, dev/less/app/typography.less */
.clr-error {
  color: #ff0000;
}
/* line 33, dev/less/app/typography.less */
.bg-action {
  background-color: #00c1ff;
}
/* line 34, dev/less/app/typography.less */
.bg-success {
  background-color: #17fe58;
}
/* line 35, dev/less/app/typography.less */
.bg-warning {
  background-color: #fff25d;
}
/* line 36, dev/less/app/typography.less */
.bg-error {
  background-color: #ff0000;
}
/*=====  End of Colors  ======*/
